<header class="flip">
  <div class="container">
    <h2>Thanks for submitting pics of pets who need homes!</h2>
    <p>Together, you gave over 5,000 pets a better chance at finding a home. We’ll let you know who won the scholarship (and how many pets found homes!) soon.</p>
    <p>BTW, you guys are seriously amazing photographers. Here are some of our favorite pics.</p>
  </div>
</header>

<div class="post">

  <div class="crazy-submission-superlative">
    <h1>Best Adoption Story</h1>
  </div>

  <div class="image-container">
    <img alt="Dog in MA " src="/images/flip/Bowser_MA.png">
  </div>

  <div class="name-loc">
    <span class="name">Bowser</span>, MA
  </div>

</div>

<div class="post">

  <div class="crazy-submission-superlative">
    <h1>Most Shared Dog</h1>
  </div>

  <div class="image-container">
    <img alt="Elsa in IN" src="/images/flip/Elsa_IN.png">
  </div>

  <div class="name-loc">
    <span class="name">Elsa</span>, IN
  </div>

</div>

<div class="post">

  <div class="crazy-submission-superlative">
    <h1>Most Shared Cat</h1>
  </div>

  <div class="image-container">
    <img alt="Armani in NY" src="/images/flip/Armani_NY.png">
  </div>

  <div class="name-loc">
    <span class="name">Armani</span>, NY
  </div>

</div>

<div class="post">

  <div class="crazy-submission-superlative">
    <h1>Cheezburger.com Favorite</h1>
  </div>

  <div class="image-container">
    <img alt="Furby in CT" src="/images/flip/Furby_CT.png">
  </div>

  <div class="name-loc">
    <span class="name">Furby</span>, CT
  </div>

  <div class="photographer">
    <p>Photographer: Maggie S.</p>
  </div>

</div>

<div class="post">

  <div class="crazy-submission-superlative">
    <h1>Most Huggable Pet</h1>
  </div>

  <div class="image-container">
    <img alt="Patch" src="/images/flip/Patch_CA.png">
  </div>

  <div class="name-loc">
    <span class="name">Patch</span>, CA
  </div>

  <div class="photographer">
    <p>Photographer: Abby B.</p>
  </div>

</div>

<div class="post">

  <div class="crazy-submission-superlative">
    <h1>Coolest Pet</h1>
  </div>

  <div class="image-container">
    <img alt="Zander in PA" src="/images/flip/Zander_PA.jpg">
  </div>

  <div class="name-loc">
    <span class="name">Zander</span>, PA
  </div>

  <div class="photographer">
    <p>Photographer: Kira C.</p>
  </div>

</div>

<div class="post">

  <div class="crazy-submission-superlative">
    <h1>Funniest Pet</h1>
  </div>

  <div class="image-container">
    <img alt="Midnight in OK" src="/images/flip/Midnight_OK.png">
  </div>

  <div class="name-loc">
    <span class="name">Midnight</span>, OK
  </div>

  <div class="photographer">
    <p>Photographer: Skylar B.</p>
  </div>

</div>

<div class="post">

  <div class="crazy-submission-superlative">
    <h1>Best Smile</h1>
  </div>

  <div class="image-container">
    <img alt="Toby in MO" src="/images/flip/Toby_MO.png">
  </div>

  <div class="name-loc">
    <span class="name">Toby</span>, MO
  </div>

  <div class="photographer">
    <p>Photographer:  Mariah J.</p>
  </div>

</div>

<div class="post">

  <div class="crazy-submission-superlative">
    <h1>Best Rescue Dog</h1>
  </div>

  <div class="image-container">
    <img alt="Remi in FL" src="/images/flip/Remi_FL.png">
  </div>

  <div class="name-loc">
    <span class="name">Remi</span>, FL
  </div>

  <div class="photographer">
    <p>Photographer: Andrea A.</p>
  </div>

</div>

<div class="post">

  <div class="crazy-submission-superlative">
    <h1>Best reason to adopt</h1>
  </div>

  <div class="image-container">
    <img alt="Andre in KY" src="/images/flip/Andre_KY.png">
  </div>

  <div class="name-loc">
    <span class="name">Andre</span>, KY
  </div>

  <div class="photographer">
    <p>Photographer: Jessica A.</p>
  </div>

</div>

<div class="post">

  <div class="crazy-submission-superlative">
    <h1>Cuest Bunny</h1>
  </div>

  <div class="image-container">
    <img alt="Butterscotch in CA" src="/images/flip/Butterscotch_CA.png">
  </div>

  <div class="name-loc">
    <span class="name">Butterscotch</span>, CA
  </div>

  <div class="photographer">
    <p>Photographer: Kristina V.</p>
  </div>

</div>

