<section class="start">
  <div class="section-container">
<p>Sometimes an amazing photo is all that stands between a homeless pet and a new home. Lend a nearby shelter your photo skills and share the pictures with your friends to help animals get adopted!</p>
<h1>Step 1: How to take an irresistible photo</h1> 
<p>Which one of these pics tugs at your heartstrings?</p>
<section class="col-2">
<p>A good photo makes all the difference for a homeless animal.</p>
<pre>
Here’s how you make it happen.

    Download our action kit to get a shelter near you on board.

    Ask a shelter rep to handle the animal so you can keep your hands on the camera.

    Remember the formula for a stunning pet pic:

Questions? Email puppy@dosomething.org and ask away!

Step 2: Find a shelter near you on Petfinder.

Zip: [                      ] [FIND A SHELTER]


Step 3: Back from the shelter? [Send us your photos]
</pre>
  </div>
</section>
