%aside.mobile
  %h2 Over 60% of shelter animals are euthanized.  Share their photos to find them homes.

%aside.desktop
  %h1 How it works
  %ol
    %li Browse our gallery of animals who need homes
    %li Share your favorites with friends to earn food and toys for the animals
    %li Visit your local shelter to take photos for a chance to win a $4,000 scholarship
