<aside class="mobile">
  <h2>Over 60% of shelter animals are euthanized.  Share their photos to find them homes.</h2>
</aside>

<aside class="desktop">
  <h1>how it works</h1>
  <ol>
    <li>Browse our gallery of animals who need homes</li>
    <li>Share your favorites with friends to earn food and toys for the animals</li>
    <li>Visit your local shelter to take photos for a chance to win a $4,000 scholarship</li>
  </ol>
</aside>

