<aside class="mobile">
  <h2>Over half of the <strong>5 to 7 million</strong> pets that enter shelters are put to sleep. Help save their lives just by hitting “share.”</h2>
</aside>

<aside class="desktop">
  <h1>how it works</h1>
  <ol>
    <li>Browse our gallery of animals who need homes</li>
    <li>Share your favorites with friends to earn food and toys for the animals</li>
    <li>Visit your local shelter to take photos for a chance to win a $3,000 scholarship</li>
  </ol>
</aside>

