%footer
  %p Clicking "Finish" won't sell your soul, but it means you agree to our #{link_to 'terms of service', 'http://www.dosomething.org/about/terms-of-service', :target => '_blank'} &amp; #{link_to 'privacy policy', 'http://www.dosomething.org/about/privacy', :target => '_blank'} &amp; to receive our weekly update.
