<footer>
  <p>
    Clicking "Finish" won't sell your soul, but it means you agree to our <a href="http://www.dosomething.org/about/terms-of-service">terms of service</a> &amp; <a href="http://www.dosomething.org/about/privacy">privacy policy</a> &amp; to receive our weekly update.
  </p>
</footer>

