%header
  =image_tag '/images/logo-ds.png', :class => 'logo-ds', :alt => 'DoSomething.org logo'
  =image_tag '/images/logo-mobile.png', :class => 'logo-mobile', :alt => 'Pics for Pets logo'
  %h1 Pics for Pets
  %h2 Over half of the #{content_tag(:strong, '5 to 7 million')} pets that enter sheltesr are put to sleep.  Help save their lives just by hitting "share."
