<section class="cta">
  <div class="section-container">
  	<% if already_submitted? %>
	    <%= link_to :real_submit_path, :class => 'btn primary large' do %><span>submit another pic</span><% end %>
	    <%= link_to :mypics, :class => 'btn secondary large' do %><span>see your pets</span><% end %>
    <% else %>
	    <!--
	    <h1>get involved with your local shelter</h1>
	    -->
      <%= link_to :real_submit_path, :class => 'btn primary large' do %><span>submit your pic</span><% end %>
    <% end %>
  </div>
</section>
