<header class="header">
  <div class="section-container">
    <a href="//www.dosomething.org/"><%= image_tag '/images/logo-ds.png', :class => 'header-ds-logo', :alt => 'DoSomething.org logo' %></a>
    <%= image_tag '/images/logo-pics.png', :class => 'header-pics-logo', :alt => 'Pics for Pets logo' %>
  </div>
</header>
