<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <p>We can tell you're a real animal lover.  Here are the things you can do to help an animal!</p>
    <ul>
      <li><a href="http://pics.dosomething.org">Check out the Pics for Pets gallery to share adoptable animals with people who can help them find a home</a>. The more shares an animal gets, the more food and toys the shelter gets.</li>
      <li>Visit a shelter near you to take irresistable photos of their animals and upload them to <a href="http://pics.dosomething.org">dosomething.org/picsforpets</a>.</li>
      <li>Check out our <a href="http://www.dosomething.org/files/campaigns/picsforpets/FindAShelter_ProTips.pdf">pet photographer guide</a> to learn how to take pro-worthy snapshots.</li>
    </ul>

    <p>Protip: make sure you call the shelter beforehand so they’re expecting you!</p>
    <p>If you have any trouble finding a shelter or questions about anything, shoot us an email at <a href="mailto:animals@dosomething.org">animals@dosomething.org</a>.</p>
    <p><strong>- Hilary and the Pics for Pets team</strong></p>
  </body>
</html>