We can tell you're a real animal lover.  Here are the things you can do to help an animal!</p>

* Check out the Pics for Pets gallery (http://pics.dosomething.org) to share adoptable animals with people who can help them find a home. The more shares an animal gets, the more food and toys the shelter gets.
* Visit a shelter near you to take irresistable photos of their animals and upload them to dosomething.org/picsforpets.
* Check out our pet photographer guide (http://www.dosomething.org/files/campaigns/picsforpets/FindAShelter_ProTips.pdf) to learn how to take pro-worthy snapshots.

Protip: make sure you call the shelter beforehand so they’re expecting you!

If you have any trouble finding a shelter or questions about anything, shoot us an email at animals@dosomething.org.

- Hilary and the Pics for Pets team