// CTA
// ---
.cta
  background: $cta-sbg

  .section-container
    width: 600px
    padding: 1em 0
    overflow: hidden

  .btn /* @TODO - why is the padding off? this should be inherited */
    float: left
    clear: none
    padding: 0.35em 0px 0px

  .btn.secondary
    float: right
