// CTA
// ---
.cta
  background: $cta-sbg

  .btn
    width: 10em
    margin: 0 auto
    padding: 0.35em 0px 0px
    // @TODO - this is here because something is broken; what's going on with the fonts?

  .section-container
    padding: 1em
