// FILTERS
//--------
.filters
  background: $filters-sbg
  height: 4em
  line-height: 4em
  text-align: center
  clear: both
  label
    display: inline-block
    padding: 0 1em
    text-transform: uppercase
    font-weight: 500
    color: $off-black

