// FOOTER
// ------
$small: 500px

.footer-help
  p
    color: $footer-help-c
    text-align: center
    padding: 0 0 2em 0
    @media only screen and (max-width: $small)
      padding: 0 0 1.5em 0

.footer-sponsor
  background: $footer-sponsor-bg
  p
    float: left
    color: $footer-sponsor-c
    text-align: left
    padding: 0.5em 1em 0px 0px
    @media only screen and (max-width: $small)
      float: none
      text-align: center
      padding: 0px 0px 0.5em
  img
    @media only screen and (max-width: $small)
      display: block
      width: 150px
      margin: 0 auto

  .section-container
    width: $footer-sponsor-width
    padding: 1em 0
