// FOOTER
// ------
footer
  p.help
    color: $footer-c
    text-align: center
    padding: 0 0 2em 0
  p.sponsor
    float: left
    color: $off-black
    text-align: left
    padding: 0.5em 1em 0px 0px

.footer-sponsor
  background: #eee
  

  .section-container
    width: 300px
    padding: 1em
