.form-item-top-text,
.form-item-bottom-text
	display: none

#upload-preview
	position: relative
	display: block
	width: 450px
	height: 450px
	border: 1px solid #000

	#top_text,
	#bottom_text
		visibility: hidden
		position: absolute
		z-index: 1
		padding: 5px
		background: rgba(0,0,0,0.25)
		display: block
		width: 100%
		box-sizing: border-box
		text-align: center
		color: #fff
		text-transform: uppercase

	#bottom_text
		bottom: 0px