// GATE
// ----
$first: 950px
$second: 900px
$third: 700px

#login-form
  display: none

// base HTML styling
body
  background: $gate-page-bg
  width: 100%

label
  display: block

// CONTAINER
// ---------
.gate
  position: relative
  float: none
  min-height: 900px
  width: 800px
  margin: 2% auto
  padding: 3% 3% 1% 3%
  background-color: $gate-sbg-color
  background-image: url($gate-sbg-image)
  border: 1px solid #ddd
  +border-radius(2px)
  +box-shadow(#ccc 0px 15px 20px -10px)

  @media only screen and (max-width: $second)
    width: 94%
    border: none
    margin: 0
    padding: 3% 3% 10% 3%
    overflow: hidden

  @media only screen and (max-width: $third)
    width: 100%
    padding: 0 0 10% 0

// CAMPAIGN STAT
// -------------
.gate header
  width: 100%
  overflow: hidden
  @media only screen and (max-width: $first)
    background: $campaign-main
  h1, h2
    text-align: left
    float: right
    width: 50%
    @media only screen and (max-width: $first)
      display: none
  h1
    font-size: 44px
    font-weight: 600
    text-transform: uppercase
    color: $campaign-main
  h2
    font-size: 1em
    font-weight: 500

  .logo-ds
    float: left
    width: 28%
    @media only screen and (max-width: $first)
      display: none

  .logo-mobile
    display: none
    @media only screen and (max-width: $first)
      display: block
      margin: 0 auto
      width: 80%
      max-width: 300px

  @media only screen and (max-width: $second)
    width: 100%
    padding: 2% 0
    h1
      font-size: em-calc(31)
    h2
      margin: 0.1em 0.2em 0 0
      font-size: em-calc(19)
      font-weight: 400

  @media only screen and (max-width: $third)
    h1, h2
      width: 98%

    .log-ds
      width: 25%

// HOW IT WORKS
// ------------
.gate aside.desktop
  float: left
  width: 45%
  margin: 13% 0 0 -8%
  padding: 3%
  position: relative
  background: $campaign-main
  @media only screen and (max-width: $first)
    display: none
  h1
    font-size: em-calc(25)
    color: lighten($off-black, 10)
    text-transform: uppercase
  ol
    list-style: decimal
    margin: 0 0 0 1em
    padding: 0 0 0 0.5em
  li
    padding: 0.5em 0
    color: #fff

.gate aside.mobile
  display: none
  h2
    font-size: 1.2em
    padding: 1em
  @media only screen and (max-width: $first)
    display: block

// FOOTER
// ------
.gate footer
  clear: both
  width: 95%
  padding: 3% 0 0 0
  position: absolute
  bottom: 1.5em
  p, a
    color: #ddd
  p
    font-size: em-calc(12)
    text-align: center
  a
    text-decoration: underline
  @media only screen and (max-width: $third)
    width: 90%
    padding: 0
    left: 5%

// LOGIN & REG. FORMS
// ------------------
.gate .form
  background: transparent
  min-height: auto
  padding: 0
  width: 100%
  box-shadow: none
  margin: 3% 0
  float: right
  width: 50%
  @media only screen and (max-width: $first)
    width: 96%
    margin: 2%
    float: left
  label
    text-transform: lowercase
    font-weight: 400
    font-size: em-calc(18)
    color: $off-black
  p /* "Already registered & Need an account?" language */
    clear: left
    font-size: 0.9em

  .btn
    width: 6em
    float: left
    margin: 0.5em 0 1em 0

  .form-item-parent-email
    margin: 0.5em 0 0 0

  .form_header
    margin: 0 0 4% 0
    display: block

  .form-item
    width: 100%
    float: none !important
    margin: 0

  .form-item-first-name, .form-item-last-name
    float: left !important
    width: 40%

  .form-item-last-name
    width: 48%
    margin: 0 0 0 10%

  #edit-birthday
    label
      float: none !important
      margin: 0
    span
      position: static !important

  .form-item-day, .form-item-month, .form-item-year
    float: left !important
    width: 2.6em
    margin: 0 9% 0 0
    padding: 0

  .form-item-year
    width: 3.5em

  .ds-login-popup-footer
    margin: 0 0 1em 0

  .already-member
    float: none
    padding: 0
    font-family: din-web-reg
    font-weight: 500
    font-size: 14px
    color: #222

  @media only screen and (max-width: $third)
    float: none
    width: 95%

    .facebook-connect
      clear: both
      width: 100%
      img
        display: block
        margin: 0 auto
        width: 60%

  @media only screen and (max-width: 500px)
    margin: 8% auto 4%

// submit button for both forms
#edit-final-submit
  background: #fed100
  margin: 1em 0
  padding: 1px 0 0 0
  position: static
  font-size: 22px
  height: 31px
  width: 65px
  display: block
  color: #333131
  +border-radius(3px)

// input fields for both forms
.gate input[type="text"],
.gate input[type="email"],
.gate input[type="number"],
.gate input[type="password"]
  height: 2.5em
  width: 96%
  margin: 0.3em 0 0.5em 0
  background: #fafafa
  border: none
  border: 1px solid #ddd
  font-weight: 400
  font-size: em-calc(18)
  color: #888
  padding: 0 0 0 0.5em
  box-shadow: none
  +border-radius(3px)

