// HEADER
// ------
$large: 1000px
$med: 700px

.header
  background-color: $header-sbg

  .section-container
    background-image: url(/images/bg-header.jpg)
    background-repeat: no-repeat
    background-size: $large
    background-position: 50% 50%
    height: 200px
    width: 960px
    @media only screen and (max-width: $large)
      width: 100% !important
    @media only screen and (max-width: $med)
      background-image: none
      height: auto
      padding: 5% 0

img.header-pics-logo
  position: absolute
  height: 150px
  right: 0
  top: 25px
  @media only screen and (max-width: $large)
    right: 15px
  @media only screen and (max-width: $med)
    display: none

img.header-pics-mobile
  display: none
  @media only screen and (max-width: $med)
    display: block
    margin: 0 auto
    width: 65%
    min-width: 250px

img.header-ds-logo /* additional DS logo for lower screen resolutions */
  position: absolute
  z-index: 2
  height: 173px
  top: -35px
  left: 0
  @media only screen and (max-width: $med)
    height: 45%

