// POSTS
// -----
.posts
  h2, p
    color: $posts-c
    text-align: center
  h2
    +section-header-text
  p
    +border-bottom-divider
  
  .section-container
    width: $posts-sw

.post
  width: 500px
  margin: 30px auto
  padding: 15px
  position: relative
  background-color: #fff
  border: 20px solid darken($posts-sbg, 5)
  +border-radius(3px)

  @media only screen and (max-width: 700px)
    width: 430px
    padding: 10px 20px 0
  @media only screen and (max-width: 550px)
    width: 100%
  @media only screen and (max-width: 450px)
    margin: 2% auto
    padding: 10px 5px 0
    width: 98%

  .image
    width: 450px
    margin: 10px auto 25px

// POST META-DATA
// --------------
.name-loc
  font-size: em-calc(24)
  font-weight: 600
  text-transform: uppercase
  margin: 0 0 5px 25px

.adopt-me
  font-size: em-calc(18)
  margin: 0 0 0 25px

.not-found > *
  color: $posts-c
  text-align: center