// VARIABLES
// ---------

$link: #e77
$msg: #53E68B
$err: #e77
$campaign-main: #e77

// GLOBALS
// -------
$global-sbg: #3E4147
$global-anchor-color: lightblue

// SECTIONS
// --------

// header
$header-sbg: #d3f6fa

// cta
$cta-sbg: #221F1F

// filters
$filters-sbg: #F1F1F2

// posts#index
$posts-sbg: $global-sbg
$posts-sw: 570px
$posts-c: #fff

// posts#new

// footer
$footer-c: #fff
// footer

// colors
$off-black: #1E1D1C
$bg-light: #FFF
$bg-alt: #EEE

$grey-subtle: #ddd
$grey-subtle: #eee

$btn-grey: #CCC
$btn-color: #FFCB15
$btn-hover: #FEB800
$btn-border: $btn-hover

$bg-header-color: $bg-alt

$border-subtle: 1px solid $grey-subtle

// images
$bg-header-image: './assets/bg-header.jpg'

// fonts
$font-grey: #CCC
$font-light: #FFF
$din: din-web-reg, "Trebuchet MS", sans-serif

// layout
$base-width: 960px

// buttons
$btn-grey: #CCC
$btn-color: #FFCB15
$btn-hover: #FEB800
$btn-border: $btn-hover

