// HEADER
// ------
.gate header
  width: 100%
  overflow: hidden
  @media only screen and (max-width: $first)
    margin: -10px 0 0 -10px
    padding: 10px
    width: 100%
    background: $off-black
  h1, h2
    text-align: left
    float: right
    width: 50%
    @media only screen and (max-width: $first)
      display: none
  h1
    font-size: 44px
    font-weight: 600
    text-transform: uppercase
    color: $campaign-main
    @media only screen and (max-width: $first)
      font-size: em-calc(31)
  h2
    font-size: 1em
    font-weight: 500
    @media only screen and (max-width: $first)
      margin: 0.1em 0.2em 0 0
      font-size: em-calc(19)
      font-weight: 400

  .logo-ds
    float: left
    width: 28%
    @media only screen and (max-width: $first)
      display: none

  .logo-mobile
    display: none
    @media only screen and (max-width: 950px)
      display: block
      float: left
      height: 30px
      width: auto


  @media only screen and (max-width: $third)
    h1, h2
      width: 98%

    .log-ds
      width: 25%

