<section class="cta">
  <div class="section-container">
  	<% if already_submitted? %>
	    <%= link_to 'see your pets', :mypics, :class => 'btn btn-large btn-secondary' %>
	    <%= link_to 'back to gallery', root_path, :class => 'btn btn-large btn-secondary' %>
    <% else %>
	    <!--
	    <h1>get involved with your local shelter</h1>
	    -->
	    <%= link_to 'submit your pic', :real_submit_path, :class => 'btn btn-cta-large btn-primary' %>
    <% end %>
  </div>
</section>
