<section class="cta">
  <div class="section-container">
    <%# link_to :your_pets, :class => 'btn btn-cta-large' do %><span>submit your pic</span><% end %>
    <%# link_to :gallery, :class => 'btn btn-cta-large' do %><span>submit your pic</span><% end %>
    <!--
    <h1>get involved with your lcoal shelter</h1>
    -->
    <%= link_to :real_submit_path, :class => 'btn btn-cta-large' do %><span>submit your pic</span><% end %>
  </div>
</section>
