<footer>
  <div class="section-container">
   <p>Questions? E-mail Hilary at <a href="mailto:picsforpets@dosomething.org">picsforpets@dosomething.org</a></p>
  </div>
</footer>

<div id="fb-root"></div>
<script type="text/javascript">
 window.fbAsyncInit = function() {
   FB.init({
     appId: "140309336115918",
     status: true,
     cookie: true,
     xfbml: true,
   });  
 };
 (function() {
   var e = document.createElement('script');
   e.async = true;
   e.src = document.location.protocol + '//connect.facebook.net/en_US/all.js';
   document.getElementById('fb-root').appendChild(e);
 }());
</script>