<section class="utility-bar">
  <%= link_to 'debug', '#', { :id => 'debug' } %>
  <%= link_to 'logout', :logout, { :class => 'logout' } %>
</section>
<header>
  <div class="section-container">
    <%= image_tag 'http://www.dosomething.org/sites/all/themes/doit/css/images/ds-logo.png', :class => 'header-ds-logo', :alt => 'DoSomething.org logo' %>
    <%= image_tag '/images/logo-pics.png', :class => 'header-logo', :alt => 'Pics for Pets logo' %>
  </div>
</header>
