<section class="utility-bar">
  <%= link_to 'debug', '#', { :id => 'debug' } %>
  <%= link_to 'logout', :logout, { :class => 'logout' } %>
</section>
<header>
  <div class="section-container">
    <a href="/"><%= image_tag '/images/logo-ds.png', :class => 'header-ds-logo', :alt => 'DoSomething.org logo' %></a>
    <%= image_tag '/images/logo-pics.png', :class => 'header-pics-logo', :alt => 'Pics for Pets logo' %>
  </div>
</header>
