<section class="posts">
  <div class="section-container">
    <h2>We don't have <%= make_legible %>!</h2>
    <p><%= link_to 'Submit', :real_submit_path %> a photo or try another search above.</p>
  </div>
</section>
