- cache @filter + '-home' do
  %script{:type => "text/javascript"}
    var count = #{@count};
    var latest = #{@last};
    var filter = '#{@path}';

  .post-list
    - if @posts.length > 0
      =raw render('filter_posts').gsub(/\n/, '')
      .inview
    - else
      = render 'not_found'
