<% cache 'posts-index-home' do %>
<script type="text/javascript">
<!--
	var count = <%= @count %>;
	var latest = <%= @last %>;
-->
</script>

<section class="posts">
  <div class="section-container">
    <h2>Share shelter pets with friends.</h2>
    <p>For every 400 shares, we'll donate needed pet supplies to the animal's shelter.</p>
    <div class="post-list">
      <% if @posts.length > 0 %>
        <%=raw render('post').gsub(/\n/, '') %>
        <div class="inview"></div>
      <% else %>
        <%= render 'not_found' %>
      <% end %>
    </div>
  </div>
</section>
<% end %>
