<section class="posts">
  <div class="section-container">
    <p id="notice"><%= notice %></p>
    <div class="post-list">
    <h2>Help save this animal's life by finding it a home. If you can't adopt it, share it with a friend.</h2>
      <%= render 'single_post' %>
    </div>
  </div>
</section>