%section.posts
  .section-container
    %p#notice= notice
    .post-list
      %h2 Help save this animal's life by finding it a home.  If you can't adopt it, share it with a friend.
      = render 'single_post'
