<p id="notice"><%= notice %></p>

<div class="post-list">
  <%= render 'single_post' %>
</div>

<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Delete', @post, :confirm => 'Delete?', :method => :delete %>