// Place all the styles related to the dashboard controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'compass'

body
  background: #eeeeee
  font-family: din, "Trebuchet MS", sans-serif
  padding: 0px
  margin: 0px

header
  background: #000
  color: #fff
  float: left
  width: 100%
  h1
    float: left
    line-height: 0.5em
    padding: 0 1em
  .links
    float: right
    padding: 1em 2em
    a
      color: white
      text-decoration: none
      padding: 0 0.5em

section#graphs
  clear: both
  #types
    width: 48%
    background: #fff
    +box-shadow(0px 0px 3px #808080)
    margin: 10px
    float: left

    .label
      display: block
      padding: 10px
      clear: both

    .label label
      float: left
      text-transform: uppercase
      position: relative
      top: 10px
  
    .label .bar
      margin-left: 100px
      padding: 0px

      div
        height: 15px
        background: #667eaf
   
  #users
    width: 48%
    background: #fff
    +box-shadow(0px 0px 3px #808080)
    margin: 10px
    float: left
    height: 400px
    position: relative

    .bar
      width: 54px
      height: 375px
      position: absolute
      bottom: 20px

      .up
        width: 50px
        height: 300px/*375px*/
        background: #667eaf
        margin-left: 2px

      label
        clear: both
        font-size: 8pt