// Place all the styles related to the dashboard controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'compass'

body
  background: #eeeeee
  font-family: Georgia
  padding: 0px
  margin: 0px

header
  h1
    background: #000
    margin: 0px
    padding: 0px
    color: #fff
    font-size: 1.5em
    padding: 5px 10px

section#graphs
  #types
    width: 48%
    background: #fff
    +box-shadow(0px 0px 3px #808080)
    margin: 10px
    float: left

    .label
      display: block
      padding: 10px
      clear: both

    .label label
      float: left
      text-transform: uppercase
      position: relative
      top: 10px
  
    .label .bar
      margin-left: 100px
      padding: 0px

      div
        height: 15px
        background: #667eaf
   
  #users
    width: 48%
    background: #fff
    +box-shadow(0px 0px 3px #808080)
    margin: 10px
    float: left
    height: 400px
    position: relative

    .bar
      width: 54px
      height: 375px
      position: absolute
      bottom: 20px

      .up
        width: 50px
        height: 300px/*375px*/
        background: #667eaf
        margin-left: 2px

      label
        clear: both
        font-size: 8pt