// @TODO - THIS FILE WAS THROWN TO TOGETHER, REFACTOR, MOVE INTO A PARTIAL, ETC.
$med: 550px

.form-item-meme-text,
.form-item-meme-position
  display: none

#upload-preview
  position: relative
  display: block
  width: 450px
  height: 450px
  margin: 2em auto
  border: 5px dashed #fff
  +border-radius(3px)
  #preview-img-container
    position: absolute
    overflow: hidden
    z-index: 0
  @media only screen and (max-width: $first)
    width: 95%

  &.loading
    background: url(/images/loading.gif) center center no-repeat

  #top_text,
  #bottom_text
    visibility: hidden
    position: absolute
    z-index: 1
    padding: 5px
    background: rgba(0,0,0,0.35)
    font: normal 500 25 din !important
    display: block
    width: 100%
    box-sizing: border-box
    text-align: center
    color: #fff
    font-size: 1.5em
    line-height: 1.5em
    @media only screen and (max-width: 400px)
      font-size: 1em

  #bottom_text
    bottom: 0px

  #placeholder_text
    position: absolute
    top: 40%
    left: 5%
    width: 90%
    text-transform: uppercase
    text-align: center
    color: #fff
    font-size: 1.5em
    font-weight: 600
    letter-spacing: 1px

.posts-new
  h2
    color: #fff
    margin: 0 0 36px 0
    +section-header-text
    +border-bottom-divider
  label
    color: #fff
    display: block
    margin: 1em 0 0 0
  select
    +select-option
    display: block
    background: #fff
    padding: 0.2em 0.5em 0.3em 0.2em
  label, input[type="text"], input[type="file"] select
    font-size: 1.2em
    line-height: 1.5em
  input[type="text"], input[type="file"], textarea
    +input-style-basic

  .section-container
    width: 450px
    margin: 2em auto

  .btn
    width: 6em
    margin: 1em 0

  input.boolean
    float: left
    margin: 5px 10px 0 0

.loading
  display: none

#allowed-types
  color: #fff
  padding-left: 10px

#image_error
  color: #f7101b
  display: none

//crop styles

#crop-overlay
  position: fixed
  top: 0
  left: 0
  height: 100%
  width: 100%
  background: rgba(0,0,0,0.7)
  z-index: 999

#crop-container
  position: fixed
  top: 50%
  left: 50%
  background: white
  border: 25px solid white
  border-radius: 10px
  transform: translate(-50%, -50%)
  -ms-transform: translate(-50%, -50%)
  -webkit-transform: translate(-50%, -50%)
  -moz-transform: translate(-50%, -50%)
  z-index: 1000
  #crop-button
    @include popup-button(left)
    @media only screen and (max-width: 240px)
      float: none
      margin: 0 auto
      width: 100%
  #cancel-button
    @include popup-button(right)
    @media only screen and (max-width: 240px)
      float: none
      margin: 0 auto
      width: 100%
  #crop-img-container
    padding: 5px
  @media only screen and (max-width: 500px)
    font-size: .8em
  @media only screen and (max-width: 320px)
    font-size: .5em
  @media only screen and (max-width: 200px)
    font-size: .3em

#errors
  li
    color: #fff