<header>
  <div class="header_inner">
    <%= image_tag 'http://www.dosomething.org/sites/all/themes/doit/css/images/ds-logo.png', :class => 'header_ds_logo', :alt => 'DoSomething.org logo' %>
    <%= image_tag '/images/logo-pics.png', :class => 'header_logo', :alt => 'Pics for Pets logo' %>
  </div>
</header>
