<!DOCTYPE html>
<html>
<head>
  <title>Pics for Pets</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body class="wrapper">

<nav>
  <label for="animal_filter">Type of Pet:</label>
  <select class="animal_filter filter" id="animal_filter">
    <option value="cat">cat</option>
    <option value="dog">dog</option>
    <option value="other">other</option>
  </select>
  <label for="state_filter">Location:</label>
  <select class="state_filter filter" id="state_filter">
  </select>
  <a href="#" class="filter btn" id="submit_filter">go</a>
</nav>

<%= yield %>

</body>
</html>
