<!DOCTYPE html>
<html>
<head>
  <title>Pics for Pets</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<nav>
  <select class="animal_filter filter" id="animal_filter">
    <option value="cats">cats</option>
    <option value="dogs">dogs</option>
    <option value="other">other</option>
  </select>
  <a href="#" id="submit_filter">go</a>
</nav>

<section class="wrapper">
  <%= yield %>
</section>

</body>
</html>
